.container-formacao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  background-color: white;
  justify-items: center;
  position: relative;
}

.detalhe2 {
  position: absolute;
  top: -50px;
  right: 30px;
}

.tituloformacao {
  justify-self: center;
}

.descricao {
  font-family: "public sans";
  font-size: 2.6rem;
  line-height: 3rem;
  letter-spacing: 0.2vh;
  max-width: 940px;
  display: grid;
  text-align: justify;
  justify-self: center;
  margin-bottom: 70px;
  font-weight: 500;
}

.areadaformacao {
  display: flex;
  width: 100%;
}

.conteudodaformacao {
  width: 100%;
  font-family: "public sans";
  justify-content: center;
}

.conteudodaformacao h2 {
  font-size: 3.125rem;
  font-weight: 500;
  color: #b3b3b3;
  text-align: center;
  line-height: 2.5rem;
  height: 100px;
  display: grid;
  align-items: center;
}

.conteudodaformacao h3 {
  font-size: 1.8rem;
  line-height: 3rem;
  color: white;
  font-weight: bolder;
  text-align: center;
  max-width: 470px;
  height: 135px;
  display: grid;
  align-content: center;
}

.conteudodaformacao p {
  font-size: 1.8rem;
  font-weight: bolder;
  color: #b3b3b3;
  text-align: center;
  height: 200px;
  display: grid;
  align-items: center;
}

.formacao1 {
  display: grid;
  justify-content: center;
  gap: 20px;
  background-image: url(../img/círculoform.svg);
  background-attachment: local;
  background-clip: content-box;
  background-repeat: no-repeat;
  background-size: 500px 470px;
  background-origin: border-box;
  background-position: top;
}

.formacao2 {
  display: grid;
  justify-content: center;
  gap: 20px;
  background-image: url(../img/círculoform.svg);
  background-attachment: local;
  background-clip: content-box;
  background-repeat: no-repeat;
  background-size: 500px 470px;
  background-origin: border-box;
  background-position: top;
}

@media (width < 1000px) {
  .tituloformacao {
    display: grid;
    max-width: 500px;
  }
  .descricao {
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: normal;
    max-width: 500px;
  }
  .areadaformacao {
    display: grid;
  }
}

@media (width < 800px) {
  .formacao {
    padding-left: auto;
    padding-right: auto;
  }
  .detalhe2 {
    height: 120px;
    width: 100px;
    top: -80px;
    right: 100px;
  }
  .tituloformacao {
    display: grid;
    max-width: 300px;
  }
  .descricao {
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: normal;
    max-width: 300px;
  }
  .areadaformacao {
    gap: 10px;
  }

  .conteudodaformacao h2 {
    font-size: 2.5rem;
    height: 50px;
    line-height: 2rem;
    padding-top: 20px;
  }
  .conteudodaformacao h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .conteudodaformacao p {
    font-size: 1.5rem;
    height: 150px;
  }
  .formacao1 {
    display: grid;
    justify-content: center;
    background-size: 500px 400px;
  }
  .formacao2 {
    display: grid;
    justify-content: center;
    background-size: 500px 400px;
  }
}

@media (width < 500px) {
  .detalhe2 {
    display: none;
  }
  .areadaformacao {
    gap: 30px;
  }
  .tituloformacao {
    display: grid;
    max-width: 200px;
  }
  .descricao {
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: normal;
    max-width: 300px;
    text-align: center;
  }
  .conteudodaformacao h2 {
    font-size: 1.5rem;
    height: min-content;
    line-height: 1.5rem;
    padding-top: 20px;
  }
  .conteudodaformacao h3 {
    font-size: 1rem;
    line-height: 1.5rem;
    height: min-content;
  }
  .conteudodaformacao p {
    font-size: 1rem;
    height: 100px;
    align-content: start;
  }
  .formacao1 {
    background-size: 400px 230px;
  }
  .formacao2 {
    background-size: 400px 230px;
  }
}
