body {
  margin: 0rem;
  font-family: "public-sans", Arial, sans-serif;
  background-color: black;
}

h1,
h2,
h3,
p {
  margin: 0rem;
}

ul {
  margin: 0rem;
  padding: 0rem;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
