header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
  flex-wrap: wrap;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.menu a {
  font-family: "Orbitron";
  font-weight: 550;
  letter-spacing: 2px;
  font-size: 1.25rem;
  line-height: 1.5;
  text-decoration: none;
  color: white;
  display: block;
}

.menu a:hover {
  color: #4b6bfa;
  box-shadow: 0px 10px 5px #4b6bfa;
}

.linha1 {
  background-color: white;
  height: 3px;
  width: 100%;
  margin-top: 10px;
}

@media (width < 1000px) {
  header {
    padding: 20px;
  }
}

@media (max-width: 800px) {
  header {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 20px;
  }
  header img {
    justify-self: center;
    height: 50px;
  }
  header a {
    background-color: rgb(27, 27, 27);
  }
}
